<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <appSettings>
      <add key="secretkey" value="this is my super secret key - shhh, don't tell anyone!" />
      <add key="minage" value="00:00:05.00" />
    </appSettings> 
    
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <system.webServer>
    <handlers>
       <add name="ElfHandler" verb="POST" path="/elf"  type="NorthPole.Elf"/>
       <add name="SantaHandler" verb="POST" path="/santa"  type="NorthPole.Santa"/>
    </handlers>
  </system.webServer>

</configuration>
